body {
  background-image: url("wir.jpeg");
  background-repeat: no-repeat;
  }

.ball {
    margin-left: -100px;
    margin-top: -50px;
  height: 180px;
  width: 180px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

button {
     position:absolute;
     top:0;
     right:0;
 }